@charset "UTF-8";
/*リセットCSS*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*リセットCSS終わり*/
html, body {
  min-height: 100vh !important;
  margin: 0;
  background-color: #f8f9fa;
  width: 100%;
}

.top {
  background-image: url("images/coffee.jpg");
  position: relative;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

h1 {
  letter-spacing: 0.5em;
  font-weight: 100;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 80%;
  left: 45%;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.top-description {
  margin: 0 auto;
  width: 400px;
  height: 60vh;
}

h2 {
  font-size: 30px;
  font-weight: 50;
  margin-bottom: 10px;
}

.top-description-content {
  width: 800px;
}

.top-description-content p {
  margin: 915px;
}

.menu {
  margin-left: 300px;
  height: 70vh;
}

.menu-list {
  display: flex;
}

.menu-image {
  margin-left: 100px;
}

table {
  width: 300px;
  border-spacing: 0 25px;
  border-collapse: separate;
}

h3 {
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 0.2em;
  font-weight: 200;
}

td {
  border-bottom: solid 1px black;
}

.price, .day {
  text-align: right;
}

.access {
  margin-left: 300px;
}

.access-detail {
  display: flex;
}

.access-right {
  margin-left: 30px;
}
